.nav-bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
}

.img-div {
  flex-grow: 3;
  align-items: center;
  padding-left: 20px;
}

.nav-list {
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.cv {
  padding-right: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1.25rem;
  font-weight: 600;
}

.logo-img {
  height: 50px;
  width: auto;
  max-width: 100px;
}
