<div class="nav-bar">
  <div class="flex img-div">
    <!-- <img
      class="logo-img"
      [routerLink]="['/home']"
      src="../../assets/images/logo.png"
      alt="Logo"
      title="Prasheel"
    /> -->
  </div>
  <div class="flex nav-list">
    <a
      class="link uline uliner"
      id="home"
      (click)="uliner('home')"
      [routerLink]="['/home']"
      >HOME</a
    >
    <a
      class="link uline"
      id="about"
      (click)="uliner('about')"
      [routerLink]="['/about']"
      >ABOUT</a
    >
    <a
      class="link uline"
      id="work"
      (click)="uliner('work')"
      [routerLink]="['/work']"
      >WORK</a
    >
    <a
      class="link uline"
      id="contact"
      (click)="uliner('contact')"
      [routerLink]="['/contact']"
    >
      CONTACT
    </a>
    <a class="cv link" href="../../assets/Prasheel_Resume_R.pdf">
      <img src="../../assets/images/cv.svg" alt="" style="height: 40px" />
    </a>
  </div>
</div>
