<div class="nav-bar" style="">
  <div class="flex img-div">
    <!-- <img
      class="logo-img"
      [routerLink]="['/home']"
      src="../../assets/images/logo.png"
      alt="Logo"
      title="Prasheel"
    /> -->
  </div>
  <div class="flex nav-list">
    <a class="link" [routerLink]="['/home']">HOME</a>
    <a class="link" [routerLink]="['/about']">ABOUT</a>
    <a class="link" [routerLink]="['/work']">WORK</a>
    <a class="link" [routerLink]="['/contact']">
      <!-- <img
        src="../../assets/images/contact-us.svg"
        alt="Contact Me"
        style="height: 40px"
      /> -->
      CONTACT
    </a>
    <a class="cv link" href="../../assets/Prasheel_Resume_R.pdf">
      <img src="../../assets/images/cv.svg" alt="" style="height: 40px" />
    </a>
  </div>
</div>
