.nav-bar{
    height:70px; 
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
}

.img-div{
    flex-grow: 3;
    align-items: center;
    padding-left: 20px;
}

.nav-list{
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
.cv{
    padding-right: 20px;
}

.link{
    color: white;
    text-decoration: none;
}

.logo{
    height:50px; 
    width:auto; 
    max-width: 100px;
}