<div class="page-section page-section--gray">
  <div class="wrapper">
    <h2 class="section-title section-title--gray">JOURNEY</h2>
    <div class="timeline">
      <div class="timeline__item">
        <div class="timeline__item__date">October <strong>2020</strong></div>
        <div class="timeline__item__content child1">
          <!-- <div class="timeline__item__content__logo">
                  <span class="icon icon--content-logo"></span>
                </div> -->
          <h3 class="timeline__item__content__title">
            Associate Engineer at Attra
          </h3>
          <p class="timeline__item__content__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Libero sed magnam placeat, repellendus ipsam culpa amet quae vel
            iure itaque! Animi quia nisi, reiciendis minima corrupti incidunt
            ipsam fugiat facilis
          </p>
          <!-- <div class="timeline__item__content__techs">
                  <span class="icon icon--html5"></span>
                  <span class="icon icon--css3"></span>
                  <span class="icon icon--javascript"></span>
                </div> -->
        </div>
      </div>

      <div class="timeline__item">
        <div class="timeline__item__date">September <strong>2020</strong></div>
        <div class="timeline__item__content child2">
          <!-- <div class="timeline__item__content__logo">
            <span class="icon icon--content-logo"></span>
          </div> -->
          <h3 class="timeline__item__content__title">
            Frontend Developer at Softteks Gateway
          </h3>
          <p class="timeline__item__content__description">
            Worked at Softteks Gateway as a Software Developer. My team
            successfully developed a recharge and bill payment website. Major
            part of my work was into UI development and API integration using
            Angular.
          </p>
          <!-- <div class="timeline__item__content__techs">
            <span class="icon icon--sketch"></span>
            <span class="icon icon--css3"></span>
          </div> -->
        </div>
      </div>

      <div class="timeline__item">
        <div class="timeline__item__date">January <strong>2020</strong></div>
        <div class="timeline__item__content child3">
          <!-- <div class="timeline__item__content__logo">
            <span class="icon icon--content-logo"></span>
          </div> -->
          <h3 class="timeline__item__content__title">Intern at Upskope</h3>
          <p class="timeline__item__content__description">
            Worked on various web technologies like NodeJS, React, graphql and
            learned and understood the flow of a website and implemented a
            Sentiment analysis web-app to judge the customer feedback based on
            the text used.
          </p>
          <!-- <div class="timeline__item__content__techs">
            <span class="icon icon--sketch"></span>
          </div> -->
        </div>
      </div>

      <div class="timeline__item">
        <div class="timeline__item__date">2016-2020</div>
        <div class="timeline__item__content">
          <!-- <div class="timeline__item__content__logo">
            <span class="icon icon--content-logo"></span>
          </div> -->
          <h3 class="timeline__item__content__title">
            Undergraduation from PES University
          </h3>
          <p class="timeline__item__content__description">
            I completed my B.E. with a major in EC (Electronics and
            Communication). I took courses like DSA, OOPs, Computer Networks, OS
            and VLSI over the years and have a better understanding of these
            subjects.
          </p>
          <!-- <div class="timeline__item__content__techs">
            <span class="icon icon--javascript"></span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
