.parallax-2{
    background-image: url("../../../assets/images/pencil.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}