<div class="parallax">
    <div class="floating-pallet">
        <div class="first-half">
            <div class="text-1">Send A Message</div>
            <div class="underline"></div>
            <form
              action="https://formspree.io/maylwllz"
              method="POST"
              class="form"
            >
            
                <label class="ip-format">
                <input class="ip" name="name" placeholder="Your Name"/>
                </label>
            
                <label class="ip-format">
                <input class="ip" type="text" name="_replyto" placeholder="Your Email">
                </label>
            
                <label class="ip-format">
                <input class="ip" name="subject" placeholder="Your Message"/>
                </label>
            
                <label class="ip-format ip-format-big">
                <textarea class="ip ip-big" name="message" placeholder="Your message"></textarea>
                </label>
    
                <button class="btn-big" type="submit">Send Message</button>
            </form>
        </div>
        <div class="get-in-touch">
            <div class="text-1">Get in Touch</div>
            <div class="underline"></div>
            <div class="text-2">Weather you want to get in touch or talk about a collaboration or if you are up for a <i class="fa fa-coffee" aria-hidden="true"></i>. I'd love to hear from you.</div>
            <div class="text-2">
                Simply fill the from and send me an email.
            </div>
            <div class="flex">
                <a href="https://www.linkedin.com/in/its-prasheel/">
                    <div class="icon-parent">
                        <img src="../../assets/images/linkedin.svg" class="icon">
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/its-prasheel/">
                    <div class="icon-parent">
                        <img src="../../assets/images/instagram.svg" class="icon">
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/its-prasheel/">
                    <div class="icon-parent">
                        <img src="../../assets/images/github.svg" class="icon">
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/its-prasheel/">
                    <div class="icon-parent">
                        <img src="../../assets/images/twitter.svg" class="icon">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>