<div class="work-parent">
  <h1 class="Heading">Portfolio</h1>
  <div class="">Check Out My Latest Projects.</div>
  <div class="underline"></div>
  <div class="project-list">
    <div class="row">
      <div class="card">
        <div class="card-image">
          <img
            src="../../assets/images/aster.png"
            alt=""
            srcset=""
            class="image"
          />
        </div>
        <div class="lower-card">
          <div class="">
            <div>Aster Nidhi</div>
            <div class="">HTML CSS Angular</div>
          </div>
          <div class="icons">
            <!-- <img src="../../assets/images/link.svg" alt="" class="icon" /> -->
            <a href="https://github.com/itsPrasheel/asterNidhi">
              <img
                src="../../assets/images/add-button.svg"
                alt=""
                class="icon"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img
            src="../../assets/images/wheather.png"
            alt=""
            srcset=""
            class="image"
          />
        </div>
        <div class="lower-card">
          <div class="">
            <div>Weather Report</div>
            <div class="">HTML CSS Angular</div>
          </div>
          <div class="icons">
            <a href="https://github.com/itsPrasheel/weather-report">
              <img
                src="../../assets/images/add-button.svg"
                alt=""
                class="icon"
              />
              <!-- <img src="../../assets/images/github.svg" alt="" class="icon" /> -->
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-image">
          <img src="../../assets/images/calc.png" alt="" class="image" />
        </div>
        <div class="lower-card">
          <div class="">
            <div>Calculator</div>
            <div class="">HTML5 CSS3 JavaScript Webpack</div>
          </div>
          <div class="icons">
            <!-- <img src="../../assets/images/link.svg" alt="" class="icon" /> -->
            <a href="https://github.com/itsPrasheel/prasheel-calculator">
              <img
                src="../../assets/images/add-button.svg"
                alt=""
                class="icon"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <!-- <img src="../../assets/images/calc.png" alt="" srcset=""> -->
        </div>
        <div class="lower-card">
          <div class="">
            <div>Portfolio Website</div>
            <div class="">Angular(No external libraries)</div>
          </div>
          <div class="icons">
            <a href="https://github.com/itsPrasheel/ang-portfolio">
              <!-- <img src="../../assets/images/link.svg" alt="" class="icon" /> -->
              <img
                src="../../assets/images/add-button.svg"
                alt=""
                class="icon"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="second-row">
      <div class="div"></div>
      <div class="div"></div>
    </div>
  </div>
</div>
