<div class="work-parent">
    <h1 class="Heading">Portfolio</h1>
    <div class="">Check Out My Latest Projects.</div>
    <div class="underline"></div>
    <div class="project-list">
        <div class="row">
                <div class="card">
                    <div class="card-image">
                        <!-- <img src="../../assets/images/calc.png" alt="" srcset=""> -->
                    </div>
                    <div class=""></div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <!-- <img src="../../assets/images/calc.png" alt="" srcset=""> -->
                    </div>
                    <div class="lower-card">
                        <div class="">
                            <div>Calculator</div>
                            <div class="">HTML5 CSS3 Webpack </div>
                        </div>
                        <div class="icons">
                            <img src="../../assets/images/link.svg" alt="" class="icon">
                            <img src="../../assets/images/github.svg" alt="" class="icon">
                        </div>
                    </div>
                </div>
        </div>    
        <div class="row">
                <div class="card">
                    <div class="card-image">
                        <!-- <img src="../../assets/images/calc.png" alt="" srcset=""> -->
                    </div>
                    <div class=""></div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <!-- <img src="../../assets/images/calc.png" alt="" srcset=""> -->
                    </div>
                    <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla non repellat ex modi unde, impedit officiis iusto blanditiis alias recusandae fugiat numquam pariatur fugit ab soluta, illum sapiente? Culpa, repellat facere doloribus tempora molestiae quia eos aliquam corporis adipisci eaque error accusantium, porro aperiam quis magnam autem iusto consectetur?</div>
                </div>
        </div>
        <div class="second-row">
            <div class="div">

            </div>
            <div class="div">

            </div>
        </div>
    </div>
</div>