<div class="parallax-1">
    <h1>Who am I</h1>
    <div class="flex">
        <div>
            <img class="index-img" src="../../assets/images/whoami.jpg" alt="">
        </div>

        <div>
            <div>Software engineer engineer who loves to transform ideas into reality using code. I am passionate about using javascript and front-end technologies to build awesome UI.</div>
            <div>I am a motivated developer with experience in creating custom websites with Reactjs, Angular, JavaScript, HTML5 and CSS3.</div>
            <div>I am a curious personality who loves to learn stuff in the evening. I have a strong knowledge of Data Structures and Algorithms and love to participate in coding competitions. I also love reading books so hit me up for recommendations.</div>
        </div>
    </div>
</div>