<div class="parallax-1">
  <div class="floating-pallet">
    <div class="first-half">
      <img class="index-img" src="../../assets/images/whoami.jpg" alt="" />
      <ul class="skills-bar-container">
        <li>
          <div class="progressbar-title">
            <h3>Angular</h3>
            <span class="percent" id="html-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progressred" id="progress-html"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3>JavaScript</h3>
            <span class="percent" id="css-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progressblue" id="progress-css"></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3>CSS / SASS</h3>
            <span class="percent" id="javascript-pourcent"></span>
          </div>
          <div class="bar-container">
            <span
              class="progressbar progresspurple"
              id="progress-javascript"
            ></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3>Java</h3>
            <span class="percent" id="php-pourcent"></span>
          </div>
          <div class="bar-container">
            <span class="progressbar progressorange" id="progress-php"></span>
          </div>
        </li>

        <li>
          <div class="progressbar-title">
            <h3>React</h3>
            <span class="percent" id="angular-pourcent"></span>
          </div>
          <div class="bar-container">
            <span
              class="progressbar progressgreen"
              id="progress-angular"
            ></span>
          </div>
        </li>
      </ul>
      <!-- </div> -->
      <!-- <div class="skills">
        <ul>
          <li>
            <div class="mainDiv">
              <button onclick="pgs()">RUN</button><br /><br /><br /><br />
              <div class="progressDiv">
                <div class="progress"></div>
              </div>
              <br /><br />
              <h2>0%</h2>
            </div>
          </li>
          <li>
            <div class="">Angular</div>
            <div id="myProgress">
              <div id="myBar"></div>
            </div>
          </li>

          <li>
            <div class="">JavaScript</div>
            <div id="myProgress">
              <div id="myBar"></div>
            </div>
          </li>
          <br />
          <button onclick="move()">Click Me</button>

          <li>
            <div class="">Java</div>
            <div id="myProgress">
              <div id="myBar"></div>
            </div>
          </li>

          <li>
            <div class="">HTML5</div>
            <div id="myProgress">
              <div id="myBar"></div>
            </div>
          </li>

          <li>
            <div class="">CSS</div>
            <div id="myProgress">
              <div id="myBar"></div>
            </div>
          </li>
        </ul>
      </div> -->
    </div>

    <div class="second-half">
      <h1 class="text-1">Who am I</h1>
      <div class="underline"></div>

      <div class="flex">
        <div>
          <div class="text-2">
            I am a Software Engineer who loves to transform ideas into reality
            using code. I am passionate about using Javascript and front-end
            technologies to build awesome UI.
          </div>
          <br />
          <div class="text-2">
            I am a motivated developer with experience in creating custom
            websites with Reactjs, Angular, JavaScript, HTML5 and CSS3.
          </div>
          <br />
          <div class="text-2">
            I am a curious personality who loves to learn stuff in the evening.
            I have a strong knowledge of Data Structures and Algorithms and love
            to participate in coding competitions. I also love reading books so
            hit me up for recommendations.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
