<div class="parallax-1">
  <div class="floating-pallet">

    <div class="first-half">
      <div>
        <img class="index-img" src="../../assets/images/whoami.jpg" alt="" />
      </div>
      <div class="">
          
      </div>
    </div>

    <div class="second-half">
      <h1 class="text-1">Who am I</h1>
      <div class="underline"></div>
      
      <div class="flex">
        <div>
          <div class="text-2">
            I am a Software Engineer who loves to transform ideas into reality
            using code. I am passionate about using Javascript and front-end
            technologies to build awesome UI.
          </div>
          <br>
          <div class="text-2">
            I am a motivated developer with experience in creating custom
            websites with Reactjs, Angular, JavaScript, HTML5 and CSS3.
          </div>
          <br>
          <div class="text-2">
            I am a curious personality who loves to learn stuff in the evening.
            I have a strong knowledge of Data Structures and Algorithms and love
            to participate in coding competitions. I also love reading books so
            hit me up for recommendations.
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
