/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.flex{
    display: flex;
}

.underline{
    display: block;
    width: 80px;
    height: 3px;
    background: #f1cd8f;
    /* margin: 20px auto; */
    margin-top: 8px;
}

